@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-fisma-blue: #1e73be;
    --color-fisma-chathams-blue: #13517a;
    --color-fisma-dark-blue: #221d5e;
    --color-fisma-gray: #636363;
    --color-fisma-red: #c82026;
}

:root {
    font-family: 'Roboto Slab', serif;
}

input {
    @apply text-fisma-dark-blue placeholder-gray-400 focus:outline-fisma-dark-blue;
}

input:focus {
    color: var(--color-fisma-dark-blue) !important;
}
